@import "reset.css";
@import "header.css";

.hidden {
  display: none;
}
body {
  height: 100vh;
  color: white;
}

img {
  opacity: 1;
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#todo-form {
  display: flex;
  justify-content: center;
}
ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
