@import "reset.css";

.hidden {
  display: none;
}
img {
  opacity: 1;
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#clock {
  font-size: 100px;
  font-weight: 600;
}
.clock-position {
  height: 50vh;
  display: flex;
  justify-content: center;
}
body {
  height: 100vh;
  color: white;
}
#todo-form {
  display: flex;
  justify-content: center;
}
ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
